Problem -1

In a given string of characters 
- Find the Highest frequent character
- Find the second Highest Frequent Character
- Find the Kth Highest Frequent Character

In [1]:
# Read the string
n = input()
# Convert the string into a list
l=list(n)
d = dict() # Creating an empty Dictionary
for i in l:
    count = l.count(i) # Get the count of a 
    #particular character
    d[i] = count # Assigning the character as a key
    # count as its value
values_list = d.values()
ordered_list = sorted(values_list,reverse = True)
max_val = ordered_list[0]
# Finding out the highest frequent character
for i in d.items():
    if i[1] == max_val:
        print(i[0])

andhra
a

In [2]:
chr(67)

'C'

In [3]:
ord('C')

67

In [4]:
ord('c')

99

In [5]:
# Read the string
n = input()
# Convert the string into a list
l=list(n)
d = dict() # Creating an empty Dictionary
for i in l:
    count = l.count(i) # Get the count of a 
    #particular character
    d[i] = count # Assigning the character as a key
    # count as its value
values_list = set(d.values())
ordered_list = sorted(values_list,reverse = True)
ordered_list
# Kth Largest Frequent character has to be found out
k = int(input("Enter the Value K"))
if k>len(ordered_list):
    print("We didnot find the kth largest element for ",k) 
else:
    max_val = ordered_list[k-1]
    # Finding out the highest frequent character
    for i in d.items():
        if i[1] == max_val:
            print(i[0])

andhran
Enter the Value K2
d
h
r

Problem -2

In a given string of characters

    Find the least frequent character
    Find the second least Frequent Character
    Find the Kth least Frequent Character
- Convert a list into a unique list without using set()

# Higher Order Functions

In [8]:
def mul_two(n):
    return n*2

l1 = list(range(1,11))
list(map(mul_two,l1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
l2 = [1.2,2.3,3.4,4.5,5.6,6.7,7.8,8.9,9.0]
# for i in l2:
#     l3.append(int(i))
list(map(int,l2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
weather_data = [("Hyderabad",32),("Guntur",40),
                ("Vijayawada",40),("Vizag",38),
                ("Rajahmundry",39)]

# Write a program that converts all the celius temp to 
# farenheit
# f = (9/5)*c + 32
# print the results the same way as weather_data 
# list is given
el = []
for i in weather_data:
    ft = i[1]*(9/5) + 32
    entry = (i[0],ft)
    el.append(entry)
el

[('Hyderabad', 89.6),
 ('Guntur', 104.0),
 ('Vijayawada', 104.0),
 ('Vizag', 100.4),
 ('Rajahmundry', 102.2)]

In [19]:
weather_data

[('Hyderabad', 32),
 ('Guntur', 40),
 ('Vijayawada', 40),
 ('Vizag', 38),
 ('Rajahmundry', 39)]

In [20]:
el

[('Hyderabad', 89.6),
 ('Guntur', 104.0),
 ('Vijayawada', 104.0),
 ('Vizag', 100.4),
 ('Rajahmundry', 102.2)]

In [23]:
def conversion(t):
    cn,ct = t
    return (cn,ct*(9/5) + 32)
list(map(conversion,weather_data))

[('Hyderabad', 89.6),
 ('Guntur', 104.0),
 ('Vijayawada', 104.0),
 ('Vizag', 100.4),
 ('Rajahmundry', 102.2)]

Goal: given a list of three dimensional points in the form of tuples, create a new list consisting of the distances of each point from the origin
	
Loop Method: 
	- distance(x, y, z) = sqrt(x**2 + y**2 + z**2)
	- loop through the list and add results to a new list
    
l = [(1,1,1),(1,5,7),(2,4,5),(3,6,9),(23,35,56),(22,33,44)]

In [34]:
from math import sqrt
def calculate_distance(point):
    x,y,z = point
    return sqrt(x**2+y**2+z**2)
l5 = [(1,1,1),(1,5,7),(2,4,5),(3,6,9),(23,35,56),(22,33,44)]
# empty_list = []
# for i in l5:
#     empty_list.append(calculate_distance(i))
# empty_list
list(map(calculate_distance,l5))

[1.7320508075688772,
 8.660254037844387,
 6.708203932499369,
 11.224972160321824,
 69.92853494818836,
 59.23681287847955]

In [ ]:
# Given a list of lists of integers add all the 
# values in the sub-list and print the sum of the list
l6 = [[31,231,435],[1223,454,665],[12,1223,445,656,8778]]